{% extends 'base.html' %}

{% block extra_styles %}

<style>
    div{
        
        width: max-content;
        padding: 1rem;
        
        margin: 0 auto;
        text-align-last: center;
        
    }
    .container{
        border: 2px solid black;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    span{
        display: flex;
        flex-direction: row;
    }
    .submit-btn{
        margin-top: 1rem;
        width: max-content;
        padding: 0.5rem;
        border-radius: 6px;
        background-color: red;
        color:white;
    }
    .green{
        margin-top: 1rem;
        width: max-content;
        padding: 0.5rem;
        border-radius: 6px;
        background-color: green;
        color:white;
    }
    .blue{
        margin-top: 1rem;
        width: max-content;
        padding: 0.5rem;
        border-radius: 6px;
        background-color: rgb(0, 13, 255);
        color:white;
    }
</style>
{% endblock extra_styles %}

{% block content %}

<div class="container">
<h1>Evaluation Metrics</h1>


<div>
    {% for metric,score in eval_metrics.items %}
    <span>
        <h2>{{metric}} :</h2><h2>{{score}}</h2>
    </span>
    
    {% endfor %}

    

    <a href="{% url 'get-joblib' file_path %}" download="model.joblib">
        <button class="green">Download trained model</button>
    </a>



</div>
<img src="{% url 'pairplot' plot_name %}" alt="scatter plot" srcset=""> 
<a href="{% url 'home' %}">
    <button class="blue">Home</button>
</a>
    </div>
{% endblock content %}