{% extends 'base.html' %}

{% block page_title %}
<title>
    Auto ML| EDA results
</title>

{% endblock page_title%}
{% block extra_styles %}
<style>

    .dataframe-table{
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid black;
        padding: 10px;
        overflow: auto;
    }

    table {
            width: 100%; 
            border-collapse: collapse; 
        }
        th, td {
            border: 1px solid #ddd; 
            padding: 8px; 
            text-align: left; 
        }
        th {
            background-color: #f2f2f2; 
        }
    .pairplot-div{
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid black;
        padding: 10px;
        overflow: auto;
    }
    .btn{
        
        margin: 2rem auto;
    }

    .btn a {
    text-decoration: none; 
}


.btn a button {
    
    
    padding: 10px 20px; 
    font-size: 16px; 
    color: white;
    border-radius: 8px;
}
.red{
    background-color: red;
}
    .green{
        background-color: green;
    }
</style>

{% endblock extra_styles %}
{% block content %}


<div>
    <!-- <h1>{{ name }}</h1>  -->
    <h1>Uploaded data</h1>
    <div class="dataframe-table">
        
        <table>
            {{ dataframe | safe }}
        </table>
          

    </div>
    

    <!-- <h1>{{pairplot}}</h1> -->
    <h1>Data info</h1>
    <div class="dataframe-table">
        
        <table>
            {{ info | safe }}
        </table>
          

    </div>
    <h1>Data summary</h1>
    <div class="dataframe-table">
        
        <table>
            {{ summary | safe }}
        </table>
          

    </div>
    <h1> Data outliers</h1>
    {{outliers | safe}}
   <h1> Missing values</h1>
   {{missing_values}}

   <h1>Pairplot</h1>
   <div class="pairplot-div">
    
    <img src="{% url 'pairplot' pairplot %}" alt="Image">

    

   </div>
  
   <div class ='btn'>
   
   <a href="{% url 'pairplot' pairplot %}" download="pairplot.png">
    <button class="red">Download Image</button>
    
    <a href="{% url 'preprocess' name %}">

        <button class="green">Perform data preprocessing</button>
    </a>
</div>

    
</div>


{% endblock content %}
