{% extends 'base.html' %}
{% block page_title %}
<title>Auto ML| Data splitting</title>

{% endblock page_title %}
{% block extra_styles %}

<style>
    div{
        
        width: max-content;
        padding: 1rem;
        
        margin: 0 auto;
        text-align-last: center;
        
    }
    .container{
        border: 2px solid black;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .submit-btn{
        margin-top: 1rem;
        width: max-content;
        padding: 0.5rem;
        border-radius: 6px;
        background-color: red;
        color:white;
    }
    .green{
        margin-top: 1rem;
        width: max-content;
        padding: 0.5rem;
        border-radius: 6px;
        background-color: green;
        color:white;
    }
    .blue{
        margin-top: 1rem;
        width: max-content;
        padding: 0.5rem;
        border-radius: 6px;
        background-color: rgb(0, 13, 255);
        color:white;
    }
</style>
{% endblock extra_styles %}

{% block content %}

<div class="container">



<h1>Train test split</h1>
<form action="" method="post">

    {% csrf_token %}
    <div >
        <label for="target">Enter target column</label>
        <input type="text" name="target" id="target" required>
    </div>
    
    <button type="submit" class="submit-btn">Submit</button>
</form>
<div>


{% if train_path %}
<a href="{% url 'csv' train_path %}" download="train_data.csv">
    <button class="green">Download Train CSV</button>

    <a href="{% url 'csv' test_path %}" download="test_data.csv">
        <button class="green">Download Test CSV</button>
    </a>
    <h1>Wish to train a model?</h1>
    <form action="{% url 'train-model'  %}" method="post">
    
        {% csrf_token %}
        <div >
            <label for="target">Enter target column</label>
            <input type="text" name="target" id="target" required>
            <label for="model-type">Choose Model:</label>
            <select id="model-type" name="model-type" required>
              <option value="linear regression">Linear Regression</option>
              <option value="decision tree">decision tree</option>
              <option value="lstm">LSTM</option>
                   
            </select>
            
        </div>
        
        <button type="submit" class="submit-btn">Submit</button>
        <input type="hidden" name="file_path" value="{{ file_path }}">
        
        <input type="hidden" name="train_path" value="{{ train_path }}">
        <input type="hidden" name="test_path" value="{{ test_path }}">
    </form>
    <div>


    
{% endif %}
</div>
<a href="{% url 'home' %}">
    <button class="blue">Home</button>
</a>
    </div>
{% endblock content %}